<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kodydomofonowe">

    <application
        android:allowBackup="true"
        android:label="Kody Domofonowe"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KodyDomofonowe">

        <!-- SplashScreenActivity jako pierwszy ekran -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.KodyDomofonowe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity bez motywu – motyw i tak jest wewnątrz Composable -->
        <activity android:name=".MainActivity" />

    </application>
</manifest>
