<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kodydomofonowe">

    <application
        android:allowBackup="true"
        android:label="Kody Domofonowe"

        android:icon="@drawable/ic_niewidzialna"
        android:roundIcon="@drawable/ic_niewidzialna"




        android:supportsRtl="true"
        android:theme="@style/Theme.KodyDomofonowe">

        <activity android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.KodyDomofonowe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity" />

    </application>
</manifest>
